@value makerGreen, makerWhite, makerShadow from '/src/common/colors.css';

.editor {
  background-color: seashell;
  flex-basis: 50%;
}

.title {
  /* width: 100%; */
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}

li {
  width: 100%;
}
