@value makerGreen from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';
@value baseSpace from '/src/common/size.css';

.footer {
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.title {
  color: makerWhite;
}
