@value makerGreen from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';
@value makerYellow from '/src/common/colors.css';
@value makerShadow from '/src/common/colors.css';
@value baseSpace from '/src/common/size.css';
@value borderRadius from '/src/common/size.css';

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 30em;
  background-color: makerWhite;
}

.list {
  padding-left: 0;
  width: 100%;
  list-style: none;
  padding: 0.5rem;
}

.item {
  margin-bottom: 0.5em;
}

.button {
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  border-radius: 1.2rem;
  border: makerGreen solid;
}

.button:hover {
  background-color: makerYellow;
}

.icon {
  color: makerGreen;
  margin-left: 1rem;
}
